{template 'header'}

<!-- BEGIN CONTAINER -->

<div class="page-container row-fluid"> 
  
  <!-- BEGIN SIDEBAR -->
  
 {template 'left'}
  <!-- END SIDEBAR --> 
  
  <!-- BEGIN PAGE -->
  
  <div class="page-content"> 
    
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    
    <div id="portlet-config" class="modal hide">
      <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button"></button>
        <h3>portlet Settings</h3>
      </div>
      <div class="modal-body">
        <p>Here will be a configuration form</p>
      </div>
    </div>
    
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM--> 
    
    <!-- BEGIN PAGE CONTAINER-->
    
    <div class="container-fluid"> 
      
      <!-- BEGIN PAGE HEADER-->
      
      <div class="row-fluid">
        <div class="span12"> 
          
          <!-- BEGIN PAGE TITLE & BREADCRUMB-->
          
          <h3 class="page-title"> 权限管理</h3>
          <ul class="breadcrumb">
   <li> <i class="icon-home"></i> <a href="{$conf[log_out]}/controller/system/index.php">客户中心</a> <i class="icon-angle-right"></i> </li>  <li> <a href="javascript:void(0)">权限管理</a> <i class="icon-angle-right"></i>
            <li> <a href="#">查看角色</a> <i class="icon-angle-right"></i> </li>
          </ul>
          
          <!-- END PAGE TITLE & BREADCRUMB--> 
          
        </div>
      </div>
      
      <!-- END PAGE HEADER--> 
      
      <!-- BEGIN PAGE CONTENT-->
      
      <div class="row-fluid">
        <div class="span12"> 
          
          <!-- BEGIN EXAMPLE TABLE PORTLET-->
          
          <div class="portlet box blue">
            <div class="portlet-title">
              <div class="caption"><i class="icon-wrench"></i>权限管理</div>
              <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="javascript:;" class="reload"></a> </div>
            </div>
            <div class="portlet-body">
              <div class="clearfix">
                 
                <div class="btn-group"> <a href="{$conf['log_out']}/controller/system/tjjs.php" class="btn blue"><i class="icon-plus"></i> 添加角色</a> </div>
               
                <div class="btn-group"> <a href="#" onclick="subform()"  class="btn red"><i class="icon-trash"></i> 删除角色</a> </div>
                
               
              </div>
           <form action="{$conf['log_out']}/controller/system/ckjs.php" method="post" id="myform" name="myform">
              <table class="table table-striped table-bordered table-hover" id="sample_1">
                <thead>
                  <tr>
                    <th width="20" style="width:8px;"><input type="checkbox" onclick="checkall(this)" class="group-checkable" data-set="#sample_1 .checkboxes" /></th>
                    <th width="152" >角色名称</th>
                    <th width="131" class="hidden-480">角色说明</th>
              
                    <th width="132" >操作</th>
                  </tr>
                </thead>
                <tbody>
                {loop $role $k $v}
                  <tr class="odd gradeX">
                    <td><input type="checkbox" id="select" class="checkboxes" name="roleid[]" value="{$v['roleid']}" /></td>
                    <td>{$v['rolename']}</td>
                    <td class="hidden-480">{$v['instruct']}</td>
                    
                    <td ><a href="{$conf['log_out']}/controller/system/tjjs.php?id={$v['roleid']}" class="btn mini green">详细</a></td> 
                  </tr>
                 {/loop}
                 
                </tbody>
              </table>
           	</form>
            </div>
          </div>
          
          <!-- END EXAMPLE TABLE PORTLET--> 
          
        </div>
      </div>
      
      <!-- END PAGE CONTENT--> 
      
    </div>
    
    <!-- END PAGE CONTAINER--> 

   <script type="text/javascript">
   function checkall(obj){
		var objcheck=obj.checked;
		var chec=document.getElementsByName("roleid[]");
		var len=chec.length;
		for(var i=0;i<len;i++){
			
			if(objcheck == true){
				$(chec[i]).parent().addClass("checked");  
			}else{
				$(chec[i]).parent().removeClass("checked");  
			}
		}
	}
   function subform(){
		$("#myform").submit();
	}
   
   </script>
  </div>
  
  <!-- END PAGE --> 
  
</div>

<!-- END CONTAINER --> 

<!-- BEGIN FOOTER -->


{template 'footer'}