{template 'header'} 

<!-- END HEADER --> 

<!-- BEGIN CONTAINER -->

<div class="page-container row-fluid"> 
  
  <!-- BEGIN SIDEBAR --> 
  
  {template 'left'} 
  <!-- END SIDEBAR --> 
  
  <!-- BEGIN PAGE -->
  
  <div class="page-content"> 
    
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    
    <div id="portlet-config" class="modal hide">
      <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button"></button>
        <h3>portlet Settings</h3>
      </div>
      <div class="modal-body">
        <p>Here will be a configuration form</p>
      </div>
    </div>
    
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM--> 
    
    <!-- BEGIN PAGE CONTAINER-->
    
    <div class="container-fluid"> 
      
      <!-- BEGIN PAGE HEADER-->
      
      <div class="row-fluid">
        <div class="span12"> 
          
          <!-- BEGIN STYLE CUSTOMIZER -->
          <!-- END BEGIN STYLE CUSTOMIZER --> 
          
          <!-- BEGIN PAGE TITLE & BREADCRUMB-->
          
          <h3 class="page-title">通知管理 </h3>
          <ul class="breadcrumb">
             <li> <i class="icon-home"></i> <a href="{$conf[log_out]}/controller/system/index.php">客户中心</a> <i class="icon-angle-right"></i> </li>
              <li> <a href="{$conf[log_out]}/controller/system/tzgl.php">通知管理</a> <i class="icon-angle-right"></i> </li>  
			 <li> <a href="">{if $_GET['action']=='mod'}修改通知{elseif $_GET['action']=='info'}通知详细{else}添加新通知{/if}</a></li>
          </ul>
          
          <!-- END PAGE TITLE & BREADCRUMB--> 
          
        </div>
      </div>
      
      <!-- END PAGE HEADER--> 
      
      <!-- BEGIN PAGE CONTENT-->
        {template "tishi"}
      <div class="row-fluid">
        <div class="span12"> 
          
          <!-- BEGIN SAMPLE FORM PORTLET-->
          
          <div class="portlet box blue">
            <div class="portlet-title">
               <div class="caption"><i class="icon-plus"></i>{if $_GET['action']=='mod'}修改通知{elseif $_GET['action']=='info'}通知详细{else}添加新通知{/if}</div>
              <div class="tools"> <a href="javascript:;" class="collapse"></a> </div>
            </div>
            <div class="portlet-body form"> 
              
              <!-- BEGIN FORM-->
              
             <form action="" method="post" class="form-horizontal" id="myform" onsubmit="return checkalls()">
                <div class="control-group">
                  <label class="control-label">发通知者</label>
                  <div class="controls">
                    <span class="help-inline">{if $_GET['action']=='mod'  || $_GET['action']=='info'}{$query['name']}{else}{$_SESSION[username]}{/if}</span> 
					<input type="hidden" class="span6 m-wrap" name="name" id="tzname" value="{$_SESSION[username]}" />
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">通知角色</label>
                  <div class="controls">
				
				  {loop $role $rok $ro}
				 <input type="checkbox" {if is_array($roles) && in_array($ro['roleid'],$roles)}checked="checked"{/if} value="{$ro['roleid']}">{$ro['rolename']}
				  {/loop}
				  </select>
                   
                   
                   </div>
                </div>
                <div class="control-group">
                  <label class="control-label">通知标题</label>
                  <div class="controls">
                    <input type="text" class="span6 m-wrap" id="title" value="{$query['title']}" onblur="checktitle()" />
                     <span class="help-inline" id="mestitle"></span> 
                   </div>
                </div>
                <div class="control-group">
                  <label class="control-label">通知内容</label>
                  <div class="controls">
                    <textarea class="span6 m-wrap" name="content" rows="3" id="qwer">{$query['content']}</textarea>
                     
                   </div>
                </div>
               
               {if $_GET['action']=='' || $_GET['action']=='mod'}
                <div class="form-actions">
                  <button type="button" onclick="sub(this)" name="{$query['id']}" class="btn blue">确认</button>
                  <button type="button" class="btn" onClick="window.location=('{$conf['log_out']}/controller/system/tzgl.php');" >取消</button>
                </div>
                {/if}
              </form>
              
              <!-- END FORM--> 
              
            </div>
          </div>
          
          <!-- END SAMPLE FORM PORTLET--> 
        </div>
      </div>
      
      <!-- END PAGE CONTENT--> 
      
    </div>
    
    <!-- END PAGE CONTAINER--> 
    
  </div>
  
  <!-- END PAGE --> 
  
</div>
<script type="text/javascript" src="{$conf['js']}/register.js"></script>
<script type="text/javascript">
function sub(obj){
	var title=$("#title").val();
	var content=$("#qwer").val();
	var name=$("#tzname").val();
	var role="";
	var check=$(":checkbox");
	for (var i=0;i<check.length;i++){
		if(check[i].checked == true){
			role += check[i].value+",";
		}
	}
	var id=obj.name;
	var mestitle=$("#mestitle").text();
	if(mestitle != "√"){
		checktitle();
	}else{	
	$.ajax({
		type:"POST",
		url:"{$conf['log_out']}/controller/system/tzgl.php?file=addtz&action={$action}&id={$id}",
		data:{name:name,title:title,content:content,roleid:role},
		dataType:"text",
		success:function(data){
			if(data == 1){
				$("#myModal").show();
				$("#content").append("添加成功");
				$("#myform")[0].reset();
			}else if(data == 0){
				$("#myModal").show();
				$("#content").append("操作失败");
			}else{
				$("#myModal").show();
				$("#content").append("修改成功");
				$("#title").val(data.title);
				$("#qwer").val(data.content);
			}
		}
	})
}	
}
</script>
<!-- END CONTAINER --> 

<!-- BEGIN FOOTER --> 

{template 'footer'}