{template 'header'}
	<!-- BEGIN 容器 -->

	<div class="page-container">

		<!-- BEGIN 左侧 -->

		{template 'left'}
		<!-- END 左侧 -->

		<!-- BEGIN 内容页 -->

		<div class="page-content">

			<!-- BEGIN 样本portlet配置模式窗体-->

			<div id="portlet-config" class="modal hide">

				<div class="modal-header">

					<button data-dismiss="modal" class="close" type="button"></button>

					<h3>Widget Settings</h3>

				</div>

				<div class="modal-body">

					Widget settings form goes here

				</div>

			</div>

			<!-- END 样本portlet配置模式窗体-->

			<!-- BEGIN 内容页容器-->

			<div class="container-fluid">

				<!-- BEGIN 内容页头部-->

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN STYLE CUSTOMIZER -->



						<!-- BEGIN 网页的标题和面包屑-->

						<h3 class="page-title">

							修改资料

						</h3>

						<ul class="breadcrumb">
   <li> <i class="icon-home"></i> <a href="{$conf[log_out]}/controller/system/index.php">客户中心</a> <i class="icon-angle-right"></i> </li>  <li> <a href="javascript:void(0)">系统管理</a> <i class="icon-angle-right"></i></li>
            <li> <a href="#">修改资料</a> <i class="icon-angle-right"></i> </li>
							<!-- BEGIN 日期-->
							<li class="pull-right no-text-shadow">

								<div id="dashboard-report-range" class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range">

									<i class="icon-calendar"></i>

									<span></span>

									<i class="icon-angle-down"></i>

								</div>
							
							</li>
							<!-- END 日期-->
						</ul>

						<!-- END 网页的标题和面包屑-->
                        {template 'tishi'}
                        <!-- BEGIN 右侧页面内容-->
                            <div class="row-fluid">
                            
                                <div class="span12">
                            
                                    <!-- BEGIN SAMPLE FORM PORTLET-->   
                            
                                    <div class="portlet box blue">
                            
                                        <div class="portlet-title">
                            
                                            <div class="caption"><i class="icon-reorder"></i>修改资料</div>
                            
                                            <div class="tools">
                            
                                                <a href="javascript:;" class="collapse"></a>
                            
                                              
                                            </div>
                            
                                        </div>
                            
                                        <div class="portlet-body form">
                            
                                            <!-- BEGIN FORM-->
                            			
                                            <form method="post" action="" class="form-horizontal" id="myform">

                                                <div class="control-group">
                            
                                                    <label class="control-label">用户名</label>
                            
                                                    <div class="controls">
                            
                                                      <input class="span6 m-wrap" type="text"   placeholder="{$query['username']}" disabled />
                            
                                                        <span class="help-inline" id="mesuser">公司分配不可修改</span>
                            
                                                    </div>
                            
                                                </div>
                                                
                                                <div class="control-group">
                            
                                                    <label class="control-label">密码</label>
                            
                                                    <div class="controls">
                            
                                                        <input type="password" name="userpwd" class="span6 m-wrap" id="password" onblur="checkpwd()" />
                            
                                                        <span class="help-inline" style="color:red" id="mespassword">不修改密码可不必填写</span>
                            
                                                    </div>
                            
                                                </div>
                            
                                                <div class="control-group">
                            
                                                    <label class="control-label">确认密码</label>
                            
                                                    <div class="controls">
                            
                                                        <input type="password" class="span6 m-wrap" id="rpassword" onblur="checkrpwd()" />
                            							 <span class="help-inline" style="color:red" id="mesrpassword"></span>
                                                    </div>
                            
                                                </div>
                                                
                                                   <div class="control-group">
                            
                                                    <label class="control-label">联系方式</label>
                            
                                                    <div class="controls">
                            
                                                        <input type="text" class="span6 m-wrap" name="phone" value="{$query['phone']}" id="phone" onblur="checktel()"/>
                            							 <span class="help-inline" style="color:red" id="mesphone"></span>
                                                    </div>
                            
                                                </div>
                                                <div class="control-group">
                            
                                                    <label class="control-label">QQ</label>
                            
                                                    <div class="controls">
                            
                                                        <input type="text" class="span6 m-wrap" name="QQ" value="{$query['QQ']}" id="txtqq" onblur="checkqq()"/>
                            							<span class="help-inline" style="color:red" id="divqq"></span>
                                                    </div>
                            
                                                </div>												
                                             
                                              <div class="control-group">
                            
                                                <label class="control-label">分配的邮箱</label>
                            
                                                    <div class="controls">
                            
                                                        <div class="input-icon left">
                            
                                                            <i class="icon-envelope"></i>
                            
                                                          <input class="m-wrap " name="email" type="text" placeholder="企业邮箱" value="{$query['email']}" id="email" onblur="checkemail()" />    
                            								<span class="help-inline" style="color:red" id="mesemail"></span>
                                                        </div>
                            
                                                    </div>
                            
                                              </div>
                                              
                                              <div class="control-group">
                            
                                                <label class="control-label">个人说明</label>
                            
                                                    <div class="controls">
                            
                                                        <textarea class="span6 m-wrap" name="instruct" rows="3" id="instruct">{$query['instruct']}</textarea>
                            
                                                    </div>
                            
                                              </div>
                            
                                                <div class="form-actions">
                            
                                                    <button type="button" onclick="mod()" class="btn blue">确认修改</button>
                            
                                                    <button type="button" class="btn" onClick="window.location.reload('{$conf['log_out']}/controller/system/index.php?menuid=6');" >取消修改</button>                            
                            
                                                </div>
                            
                                            </form>
                            
                                            <!-- END FORM-->       
                            
                                        </div>
                                        
                                	</div>
                                    
        							<!-- END SAMPLE FORM PORTLET-->
                                </div>
                            
                            </div>

                        <!-- END 右侧页面内容-->
				</div>

				<!-- END 内容页头部-->

				

			</div>

			<!-- END 内容页容器-->    

		</div>

		<!-- END 内容页 -->

	</div>

	<!-- END 容器 -->
<script type="text/javascript" src="{$conf['js']}/register.js">
</script>
<script type="text/javascript">
	function mod(){
		var userpwd=$("#password").val();
		var phone=$("#phone").val();
		var QQ=$("#txtqq").val();
		var email=$("#email").val();
		var instruct=$("#instruct").val();
		$.ajax({
			type:"POST",
			url:"{$conf['log_out']}/controller/system/cl_yhgl.php?file=modinfo",
			data:{userpwd:userpwd,phone:phone,QQ:QQ,email:email,instruct:instruct},
			dataType:"json",
			success:function(data){
				if(data != 0){
					 $("#myModal").show();
					 $("#content").append("修改成功");
					 $(".help-inline").empty();
					 $("#mespassword").append("不修改密码可不必填写");
					 $("#mesrole").append("选择用户的角色信息");
					 $("#mesuser").append("公司分配不可修改");
					 $("myform").reset();
					 $("#phone").val(data.phone);
					 $("#role").val(data.role);
					 $("#txtqq").val(data.QQ);
					 $("#email").val(data.email);
					 $("$instruct").val(data.instruct);
				}
			},
			error:function(){
	        	 $("#content").empty();
	        	 $("#content").append("操作失败");
	         },
		})
	}
</script>
	<!-- BEGIN 底部 -->
{template 'footer'}