{template 'header'}
	<!-- BEGIN 容器 -->

	<div class="page-container">

		<!-- BEGIN 左侧 -->

		{template 'left'}
		<!-- END 左侧 -->

		<!-- BEGIN 内容页 -->

		<div class="page-content">

			<!-- BEGIN 样本portlet配置模式窗体-->

			<div id="portlet-config" class="modal hide">

				<div class="modal-header">

					<button data-dismiss="modal" class="close" type="button"></button>

					<h3>Widget Settings</h3>

				</div>

				<div class="modal-body">

					Widget settings form goes here

				</div>

			</div>

			<!-- END 样本portlet配置模式窗体-->

			<!-- BEGIN 内容页容器-->

			<div class="container-fluid">

				<!-- BEGIN 内容页头部-->

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN STYLE CUSTOMIZER -->

						<div class="color-panel hidden-phone">

							<div class="color-mode-icons icon-color"></div>

							<div class="color-mode-icons icon-color-close"></div>

							<div class="color-mode">
								<label>

									<span>Layout</span>

									<select class="layout-option m-wrap small">

										<option value="fluid" selected>Fluid</option>

										<option value="boxed">Boxed</option>

									</select>

								</label>

								<label>

									<span>Header</span>

									<select class="header-option m-wrap small">

										<option value="fixed" selected>Fixed</option>

										<option value="default">Default</option>

									</select>

								</label>

								<label>

									<span>Sidebar</span>

									<select class="sidebar-option m-wrap small">

										<option value="fixed">Fixed</option>

										<option value="default" selected>Default</option>

									</select>

								</label>

								<label>

									<span>Footer</span>

									<select class="footer-option m-wrap small">

										<option value="fixed">Fixed</option>

										<option value="default" selected>Default</option>

									</select>

								</label>

							</div>

						</div>


						<!-- BEGIN 网页的标题和面包屑-->

						<h3 class="page-title">

							系统管理 

						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="index.html">Home</a> 

								<i class="icon-angle-right"></i>

							</li>

							<li><a href="#">Dashboard</a></li>
							<!-- BEGIN 日期-->
							<li class="pull-right no-text-shadow">

								<div id="dashboard-report-range" class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range">

									<i class="icon-calendar"></i>

									<span></span>

									<i class="icon-angle-down"></i>

								</div>
							
							</li>
							<!-- END 日期-->
						</ul>

						<!-- END 网页的标题和面包屑-->
                        
                        <!-- BEGIN 右侧页面内容-->
                            <div class="row-fluid">
                            
                                <div class="span12">
                            
                                    <!-- BEGIN SAMPLE FORM PORTLET-->   
                            
                                    <div class="portlet box blue">
                            
                                        <div class="portlet-title">
                            
                                            <div class="caption"><i class="icon-reorder"></i>修改资料</div>
                            
                                            <div class="tools">
                            
                                                <a href="javascript:;" class="collapse"></a>
                            
                                                <a href="javascript:;" class="reload"></a>
                                            </div>
                            
                                        </div>
                            
                                        <div class="portlet-body form">
                            
                                            <!-- BEGIN FORM-->
                            			
                                            <form method="post" action="{$conf['log_out']}/controller/system/cl_yhgl.php?file=modinfo" class="form-horizontal">
                            									
                                                <div class="control-group">
                            
                                                    <label class="control-label">用户名</label>
                            
                                                    <div class="controls">
                            
                                                        <input type="text" class="span6 m-wrap" name="info[username]" value="{$query['username']}" />
                            
                                                        <span class="help-inline">不得输入殊符号</span>
                            
                                                    </div>
                            
                                                </div>
                            
                                                <div class="control-group">
                            
                                                    <label class="control-label">用户名</label>
                            
                                                    <div class="controls">
                            
                                                      <input class="span6 m-wrap" type="text" placeholder="用户名" disabled />
                            
                                                        <span class="help-inline">公司分配不可修改</span>
                            
                                                    </div>
                            
                                                </div>
                                                
                                                <div class="control-group">
                            
                                                    <label class="control-label">密码</label>
                            
                                                    <div class="controls">
                            
                                                        <input type="password" name=info[userpwd] class="span6 m-wrap" />
                            
                                                        <span class="help-inline">请输入6~12位密码</span>
                            
                                                    </div>
                            
                                                </div>
                            
                                                <div class="control-group">
                            
                                                    <label class="control-label">确认密码</label>
                            
                                                    <div class="controls">
                            
                                                        <input type="password" class="span6 m-wrap" />
                            
                                                    </div>
                            
                                                </div>
                                                
                            
                                             
                                              <div class="control-group">
                            
                                                <label class="control-label">分配的邮箱</label>
                            
                                                    <div class="controls">
                            
                                                        <div class="input-icon left">
                            
                                                            <i class="icon-envelope"></i>
                            
                                                          <input class="m-wrap " name="info[email]" type="text" placeholder="企业邮箱" value="{$query['email']}" />    
                            
                                                        </div>
                            
                                                    </div>
                            
                                              </div>
                                              
                                              <div class="control-group">
                            
                                                <label class="control-label">个人说明</label>
                            
                                                    <div class="controls">
                            
                                                        <textarea class="span6 m-wrap" name="info[instruct]" rows="3">{$query['instruct']}</textarea>
                            
                                                    </div>
                            
                                              </div>
                            
                                                <div class="form-actions">
                            
                                                    <button type="submit" class="btn blue">确认修改</button>
                            
                                                    <button type="button" class="btn" onClick="window.location.reload('{$conf['log_out']}/controller/system/index.php?menuid=6');" >取消修改</button>                            
                            
                                                </div>
                            
                                            </form>
                            
                                            <!-- END FORM-->       
                            
                                        </div>
                                        
                                	</div>
                                    
        							<!-- END SAMPLE FORM PORTLET-->
                                </div>
                            
                            </div>

                        <!-- END 右侧页面内容-->
				</div>

				<!-- END 内容页头部-->

				

			</div>

			<!-- END 内容页容器-->    

		</div>

		<!-- END 内容页 -->

	</div>

	<!-- END 容器 -->

	<!-- BEGIN 底部 -->
{template 'footer'}