{template 'header'}

	<!-- END HEADER -->

	<!-- BEGIN CONTAINER -->

	<div class="page-container row-fluid">

		<!-- BEGIN SIDEBAR -->

		{template 'left'}
		<!-- END SIDEBAR -->

		<!-- BEGIN PAGE -->

		<div class="page-content">

			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<div id="portlet-config" class="modal hide">

				<div class="modal-header">

					<button data-dismiss="modal" class="close" type="button"></button>

					<h3>portlet Settings</h3>

				</div>

				<div class="modal-body">

					<p>Here will be a configuration form</p>

				</div>

			</div>

			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">
 

						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">

							系统管理

						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="{$conf['log_out']}/controller/system/yhgl.php">员工中心</a> 

								<i class="icon-angle-right"></i>

							</li>

							<li>

								<a href="#">员工信息</a>

								<i class="icon-angle-right"></i>

							</li>

						

						</ul>

						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>

				</div>

				<!-- END PAGE HEADER-->

				<!-- BEGIN PAGE CONTENT-->

				<div class="row-fluid">
				
					<div class="span6">


						<!-- BEGIN DESCRIPTION LISTS PORTLET-->

						<div class="portlet box blue">

							<div class="portlet-title">

								<div class="caption"><i class="icon-reorder"></i>基本资料</div>

								<div class="tools">

									<a href="javascript:;" class="collapse"></a>

								</div>

							</div>

							<div class="portlet-body">

								<dl >

									<dt>用户名</dt>

									<dd>{$r['username']}</dd>

									<dt>真实姓名</dt>

									<dd>{$r['realname']}</dd>
                                    <dt>角色</dt>

									<dd>{$role[$r['role']][rolename]}</dd>
                                    <dt>电话</dt>

									<dd>{$r['phone']}</dd>
                                    <dt>邮箱</dt>

									<dd>{$r['email']}</dd>
                                    <dt>QQ</dt>

									<dd>{$r['QQ']}</dd>
									<dt>添加时间</dt>

									<dd>{date("Y-m-d H:i:s",$r['inputtime'])}</dd>
									 <dt>个人说明</dt>

									<dd>{$r['instruct']}</dd>
								</dl>

							</div>

					  </div>

						<!-- END DESCRIPTION LISTS PORTLET-->

				  	</div>
                    <div class="span6">


						<!-- BEGIN DESCRIPTION LISTS PORTLET-->

						<div class="portlet box green">

							<div class="portlet-title">

								<div class="caption"><i class="icon-reorder"></i>操作记录</div>

								<div class="tools">

									<a href="javascript:;" class="collapse"></a>

								</div>

							</div>

							<div class="portlet-body">

								<div class="tab-pane" id="tab_1_2">

												<div class="scroller" data-height="290px" data-always-visible="1" data-rail-visible1="1">

													<ul class="feeds">
													{if empty($log)}
													没有操作记录
													{else}
														{loop $log  $keys $val}
														<li>

															<a href="#">

																<div class="col1">

																	<div class="cont">

																		<div class="cont-col1">

																			<div class="label label-success">                        

																				<i class="icon-bell"></i>

																			</div>

																		</div>

																		<div class="cont-col2">

																			<div class="desc">

																				{$val['user']}{$val['way']}{$val['return']}

																			</div>

																		</div>

																	</div>

																</div>

																<div class="col2">

																	<div class="date">

																		{date("Y-m-d H:i:s",$val['time'])}

																	</div>

																</div>

															</a>

														</li>
												{/loop}
													{/if}	
													</ul>

												</div>

											</div>

							</div>

					  </div>

						<!-- END DESCRIPTION LISTS PORTLET-->

				  	</div>

				</div>

				<!-- END PAGE CONTENT-->

			</div>

			<!-- END PAGE CONTAINER-->       

		</div>

		<!-- BEGIN PAGE -->     

	</div>

	<!-- END CONTAINER -->

	<!-- BEGIN FOOTER -->

	{template 'footer'}