
{template 'header'} 

<!-- END HEADER --> 

<!-- BEGIN CONTAINER -->

<div class="page-container row-fluid"> 
  
  <!-- BEGIN SIDEBAR --> 
  
  {template 'left'} 
  <!-- END SIDEBAR --> 
  
  <!-- BEGIN PAGE -->
  
  <div class="page-content"> 
    
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    
    <div id="portlet-config" class="modal hide">
      <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button"></button>
        <h3>portlet Settings</h3>
      </div>
      <div class="modal-body">
        <p>Here will be a configuration form</p>
      </div>
    </div>
    
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM--> 
    
    <!-- BEGIN PAGE CONTAINER-->
    
    <div class="container-fluid"> 
      
      <!-- BEGIN PAGE HEADER-->
      
      <div class="row-fluid">
        <div class="span12"> 
          
          <!-- BEGIN STYLE CUSTOMIZER -->
          <!-- END BEGIN STYLE CUSTOMIZER --> 
          
          <!-- BEGIN PAGE TITLE & BREADCRUMB-->
          
          <h3 class="page-title"> Managed Tables <small>managed table samples</small> </h3>
          <ul class="breadcrumb">
            <li> <i class="icon-home"></i> <a href="index.html">Home</a> <i class="icon-angle-right"></i> </li>
            <li> <a href="#">Data Tables</a> <i class="icon-angle-right"></i> </li>
            <li><a href="#">Managed Tables</a></li>
          </ul>
          
          <!-- END PAGE TITLE & BREADCRUMB--> 
          
        </div>
      </div>
      
      <!-- END PAGE HEADER--> 
      
      <!-- BEGIN PAGE CONTENT-->
      
      <div class="row-fluid">
        <div class="span12"> 
          
          <!-- BEGIN SAMPLE FORM PORTLET-->
          
          <div class="portlet box blue">
            <div class="portlet-title">
              <div class="caption"><i class="icon-plus"></i>添加用户</div>
              <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="javascript:;" class="reload"></a> </div>
            </div>
            <div class="portlet-body form"> 
              
              <!-- BEGIN FORM-->
              
              <form action="{$conf['log_out']}/controller/system/cl_yhgl.php?file=adduser" method="post" class="form-horizontal" onsubmit="return checkall()">
                <div class="control-group">
                  <label class="control-label">真实姓名</label>
                  <div class="controls">
                    <input type="text" class="span6 m-wrap" name="info[realname]" />
                    <span class="help-inline">请根据实情填写</span> </div>
                </div>
                <div class="control-group">
                  <label class="control-label">用户名</label>
                  <div class="controls">
                    <input class="span6 m-wrap" type="text" name="info[username]" id="username" onblur="checkname()"/>
                    <span class="help-inline" id="mesname">公司分配不可修改</span> </div>
                </div>
                <div class="control-group">
                  <label class="control-label">密码</label>
                  <div class="controls">
                    <input type="password" class="span6 m-wrap" name="info[userpwd]" id="password" onblur="checkpwd()" />
                    <span class="help-inline" id="mespassword"></span> </div>
                </div>
                <div class="control-group">
                  <label class="control-label">确认密码</label>
                  <div class="controls">
                    <input type="password" class="span6 m-wrap" onblur="checkrpwd()" id="rpassword"  />
                    <span class="help-inline" id="mesrpassword"></span> 
                  </div>
                </div>
               <div class="control-group">
                  <label class="control-label">联系方式</label>
                  <div class="controls">
                    <input type="text" class="span6 m-wrap" name="info[phone]" onblur="checktel()" id="phone" />
                      <span class="help-inline" id="mesphone"></span>
                   </div>
                </div>
                
                <div class="form-actions">
                  <button type="submit" class="btn blue">确认添加</button>
                  <button type="button" class="btn" onClick="javascript:location.href='{$conf['log_out']}/controller/system/index.php?menuid=6'" >取消添加</button>
                </div>
              </form>
              
              <!-- END FORM--> 
              
            </div>
          </div>
          
          <!-- END SAMPLE FORM PORTLET--> 
        </div>
      </div>
      
      <!-- END PAGE CONTENT--> 
      
    </div>
    
    <!-- END PAGE CONTAINER--> 
    
  </div>
  
  <!-- END PAGE --> 
  
</div>
<script type="text/javascript" src="{$conf['js']}/register.js">
</script>
<!-- END CONTAINER --> 

<!-- BEGIN FOOTER --> 

{template 'footer'}