{template 'header'} 

<!-- END HEADER --> 

<!-- BEGIN CONTAINER -->

<div class="page-container row-fluid"> 
  
  <!-- BEGIN SIDEBAR --> 
  
  {template 'left'} 
  
  <!-- END SIDEBAR --> 
  
  <!-- BEGIN PAGE -->
  
  <div class="page-content"> 
    
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    
    <div id="portlet-config" class="modal hide">
      <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button"></button>
        <h3>portlet Settings</h3>
      </div>
      <div class="modal-body">
        <p>Here will be a configuration form</p>
      </div>
    </div>
    
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM--> 
    
    <!-- BEGIN PAGE CONTAINER-->
    
    <div class="container-fluid"> 
      
      <!-- BEGIN PAGE HEADER-->
      
      <div class="row-fluid">
        <div class="span12"> 
          
          <!-- BEGIN STYLE CUSTOMIZER -->
          
          <div class="color-panel hidden-phone">
            <div class="color-mode-icons icon-color"></div>
            <div class="color-mode-icons icon-color-close"></div>
            <div class="color-mode">
              <p>THEME COLOR</p>
              <ul class="inline">
                <li class="color-black current color-default" data-style="default"></li>
                <li class="color-blue" data-style="blue"></li>
                <li class="color-brown" data-style="brown"></li>
                <li class="color-purple" data-style="purple"></li>
                <li class="color-grey" data-style="grey"></li>
                <li class="color-white color-light" data-style="light"></li>
              </ul>
              <label> <span>Layout</span>
                <select class="layout-option m-wrap small">
                  <option value="fluid" selected>Fluid</option>
                  <option value="boxed">Boxed</option>
                </select>
              </label>
              <label> <span>Header</span>
                <select class="header-option m-wrap small">
                  <option value="fixed" selected>Fixed</option>
                  <option value="default">Default</option>
                </select>
              </label>
              <label> <span>Sidebar</span>
                <select class="sidebar-option m-wrap small">
                  <option value="fixed">Fixed</option>
                  <option value="default" selected>Default</option>
                </select>
              </label>
              <label> <span>Footer</span>
                <select class="footer-option m-wrap small">
                  <option value="fixed">Fixed</option>
                  <option value="default" selected>Default</option>
                </select>
              </label>
            </div>
          </div>
          
          <!-- END BEGIN STYLE CUSTOMIZER --> 
          
          <!-- BEGIN PAGE TITLE & BREADCRUMB-->
          
          <h3 class="page-title"> Managed Tables <small>managed table samples</small> </h3>
          <ul class="breadcrumb">
            <li> <i class="icon-home"></i> <a href="index.html">Home</a> <i class="icon-angle-right"></i> </li>
            <li> <a href="#">Data Tables</a> <i class="icon-angle-right"></i> </li>
            <li><a href="#">Managed Tables</a></li>
          </ul>
          
          <!-- END PAGE TITLE & BREADCRUMB--> 
          
        </div>
      </div>
      
      <!-- END PAGE HEADER--> 
      
      <!-- BEGIN PAGE CONTENT-->
      
      <div class="row-fluid">
        <div class="span12"> 
          
          <!-- BEGIN SAMPLE FORM PORTLET-->
          
          <div class="portlet box blue">
            <div class="portlet-title">
              <div class="caption"><i class="icon-pencil"></i>修改信息</div>
              <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="javascript:;" class="reload"></a> </div>
            </div>
            <div class="portlet-body form"> 
              
              <!-- BEGIN FORM-->
              <form action="{$conf['log_out']}/controller/system/cl_yhgl.php?file=moduser&id={$r['id']}" method="post" class="form-horizontal">
                <div class="control-group">
                  <label class="control-label">用户名</label>
                  <div class="controls">
                    <input type="text" class="span6 m-wrap" name="info[name]" value="{$r['username']}" />
                    <span class="help-inline">不得输入殊符号</span> </div>
                </div>
                <div class="control-group">
                  <label class="control-label">用户名</label>
                  <div class="controls">
                    <input class="span6 m-wrap" type="text" placeholder="用户名" disabled />
                    <span class="help-inline">公司分配不可修改</span> </div>
                </div>
                <div class="control-group">
                  <label class="control-label">密码</label>
                  <div class="controls">
                    <input type="password" class="span6 m-wrap" name="info[pwd]" />
                    <span class="help-inline">请输入6~12位密码</span> </div>
                </div>
                <div class="control-group">
                  <label class="control-label">确认密码</label>
                  <div class="controls">
                    <input type="password" class="span6 m-wrap" name="repwd" />
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">分配的邮箱</label>
                  <div class="controls">
                    <div class="input-icon left"> <i class="icon-envelope"></i>
                      <input class="m-wrap " type="text" placeholder="企业邮箱" value="{$r['email']}" name="info[email]" />
                    </div>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Default Dropdown</label>
                  <div class="controls">
                    <select class="span6 m-wrap" name="info[type]" data-placeholder="Choose a Category" tabindex="1">
                      <option value="">{$r['type']}</option>
                      <option value="Category 1">Category 1</option>
                      <option value="Category 2">Category 2</option>
                      <option value="Category 3">Category 5</option>
                      <option value="Category 4">Category 4</option>
                    </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Radio Buttons</label>
                  <div class="controls">
                    <label class="radio">
                      <input type="radio" name="optionsRadios1" value="option1" />
                      Option 1 </label>
                    <label class="radio">
                      <input type="radio" name="optionsRadios1" value="option2" checked />
                      Option 2 </label>
                    <label class="radio">
                      <input type="radio" name="optionsRadios1" value="option2" />
                      Option 3 </label>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Checkbox</label>
                  <div class="controls">
                    <label class="checkbox">
                      <input type="checkbox" value="" />
                      Checkbox 1 </label>
                    <label class="checkbox">
                      <input type="checkbox" value="" />
                      Checkbox 2 </label>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">个人说明</label>
                  <div class="controls">
                    <textarea class="span6 m-wrap" rows="3" name="info[instruct]">{$r['instruct']}</textarea>
                  </div>
                </div>
                <div class="form-actions">
                  <button type="submit" class="btn blue">保存修改</button>
                  <button type="button" class="btn" onClick="window.location.reload('{$conf['log_out']}/controller/system/index.php?menuid=6');" >取消修改</button>
                </div>
              </form>
              
              <!-- END FORM--> 
              
            </div>
          </div>
          
          <!-- END SAMPLE FORM PORTLET--> 
        </div>
      </div>
      
      <!-- END PAGE CONTENT--> 
      
    </div>
    
    <!-- END PAGE CONTAINER--> 
    
  </div>
  
  <!-- END PAGE --> 
  
</div>

<!-- END CONTAINER --> 

<!-- BEGIN FOOTER --> 

{template 'footer'}