<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="refresh" content="1;url={$url}"> 
<title>跳转中....</title>

<link href="{$conf['css']}/global.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="zccg">
<h1>{$content}</h1>
<div class="tupian"><img src="{$conf['image']}/dt002.gif"  /></div>
<div class="wenzi"><h2><a href="{$url}"><input type="submit" class="button lightblue" value="马上过去" style="margin-top:25px;"></h2></a></div>

</div>

</body>
</html>
