
<div class="page-sidebar nav-collapse collapse"> 
    
    <!-- BEGIN 主菜单列表 -->
    
    <ul class="page-sidebar-menu">
      <li> 
        
        <!-- BEGIN 侧边栏显示开关按钮 -->
        
        <div class="sidebar-toggler hidden-phone"></div>
        
        <!-- END 侧边栏显示开关按钮 --> 
        
      </li>
      <li> 
        
        <!-- BEGIN 快速搜索 -->
        
        <form class="sidebar-search">
          <div class="input-box"> <a href="javascript:;" class="remove"></a>
            <input type="text" placeholder="搜索..." />
            <input type="button" class="submit" value=" " />
          </div>
        </form>
        
        <!-- END 快速搜索 --> 
        
      </li>

	  {loop $menu  $k $v}
{if $v['href'] != ""}
				<li class="start"onclick="next(this)" title="{$data['name']}">
				<a href="{$conf['log_out']}{$v['href']}">
{else}
		          <li onclick="next(this)" title="{$data['name']}" class="open">
				  <a href="javascript:void(0)">
{/if}
	  <i class="icon-{$v[icon]}"></i> <span class="title">{$v[menuname]}</span> 
	 {if is_array($v['next'])}
	<span class="arrow"></span></a>   
	  <ul class="sub-menu" style="display:block">
		   {loop $v['next'] $a $b}  
		  <li><a href="{$b['href']}">{$b[menuname]}</a></li>
		  {/loop}
        </ul>
		
		 {else}                        
					<span class="selected"></span>
					</a>
	{/if}
	</li>
	   
	  {/loop}

        
      </li>
    </ul>
    <div id="aa"></div>
  
    <!-- END 主菜单列表 --> 
    
  </div>
  
 