
<link href="{$conf['css']}/page.css" rel="stylesheet" type="text/css" />
<script src="{$conf['js']}/jquery-1.6.js" type="text/javascript">
    </script>
<script src="{$conf['js']}/jquery.myPagination.js" type="text/javascript">
    </script>
<script src="{$conf['js']}/global.fun.js" type="text/javascript">
    </script>

      
<div id="span6">

  <div class="dataTables_paginate paging_bootstrap pagination">
   <ul id="ppage">
	<li {if $page == 1}class="prev disabled"{/if}><a title="1" href="?page=1{if !empty($sel)}&sel={$sel}{/if}" onclick="aavv(this.title,'{$ajaxurl}')" >首页</a></li>
	<li {if $page == 1}class="prev disabled"{/if}><a {if $page == 1}title="{$page}"{else} title="{$page-1}"{/if} onclick="aavv(this.title,'{$ajaxurl}')"  href="?page={if $page==1}1{else}{$page-1}{/if}{if !empty($sel)}&sel={$sel}{/if}" >上一页</a></li>
	{loop $count $k $v}
	{if $page == $v}<li class="active"><a title="{$v}" href="?page={$v}{if !empty($sel)}&sel={$sel}{/if}" onclick="aavv(this.title,'{$ajaxurl}')" >{$v}</a></li>
	{else}
	<li><a title="{$v}" href="?page={$v}{if !empty($sel)}&sel={$sel}{/if}" onclick="aavv(this.title,'{$ajaxurl}')" >{$v}</a></li>
	{/if}
	{/loop}
	{if $total >10}
	<li class="prev disabled"><a title="" href="javascript:void(0)" onclick="aavv(this.title,'{$ajaxurl}')" >...</a></li>
	<li><a title="" href="?page={$total}{if !empty($sel)}&sel={$sel}{/if}" >{$total}</a></li>
	{/if}
	<li {if $page == $total}class="prev disabled"{/if}><a title="{$page+1}" onclick="aavv(this.title,'{$ajaxurl}')" href="?page={if $page==$total}{$total}{else}{$page+1}{/if}{if !empty($sel)}&sel={$sel}{/if}">下一页</a></li>
	<li {if $page == $total}class="prev disabled"{/if}><a title="{$total}" onclick="aavv(this.title,'{$ajaxurl}')" href="?page={$total}{if !empty($sel)}&sel={$sel}{/if}" >尾页</a></li>
	跳转到
	<input type="text" value="{$page}" style="width: 30px; height:18px;margin-bottom:0px" onblur="jump(this.value)" id="jump">/{$total}页
	</ul>
  </div>
 <script type="text/javascript">
	function jump(obj){
	if(obj > {$total}){
		alert("请输入正确的页数");
	}else{
		aavv(obj,'{$ajaxurl}')
	}
	}
	
	
 </script>
  
 
</div>
