
<link href="{$conf['css']}/page.css" rel="stylesheet" type="text/css" />
<script src="{$conf['js']}/jquery-1.6.js" type="text/javascript">
    </script>
<script src="{$conf['js']}/jquery.myPagination.js" type="text/javascript">
    </script>


      
<div id="span6">

  <div class="dataTables_paginate paging_bootstrap pagination">
   <ul>
	<li {if $page == 1}class="prev disabled"{/if}><a title="2" href="?page=1">首页</a></li>
	<li {if $page == 1}class="prev disabled"{/if}><a title="2" href="?page={$front}" >上一页</a></li>
	{loop $count $k $v}
	{if $page == $v}<li class="active"><a title="{$v}" href="?page={$v}" >{$v}</a></li>
	{else}
	<li><a title="{$v}" href="?page={$v}" >{$v}</a></li>
	{/if}
	{/loop}
	{if $total >10}
	<li class="prev disabled"><a title="" href="javascript:void(0)" >...</a></li>
	<li><a title="" href="javascript:void(0)" >{$total}</a></li>
	{/if}
	<li {if $page == $total}class="prev disabled"{/if}><a title="{$v}+1" href="?page={$next}">下一页</a></li>
	<li {if $page == $total}class="prev disabled"{/if}><a title="{$total}" href="?page={$total}" >尾页</a></li>
	跳转到
	<input type="text" value="{$page}" style="width: 30px; height:18px;margin-bottom:0px" onblur="jump(this.value)">/{$total}页
	</ul>
  </div>
 <script type="text/javascript">
	function jump(obj){
	if(obj > {$total}){
		alert("请输入正确的页数");
	}else{
	window.location.href="?page="+obj;
	}

	}
 </script>
  
 
</div>
