{template 'header'}
	<!-- END HEADER -->

	<!-- BEGIN CONTAINER -->

	<div class="page-container row-fluid">

		<!-- BEGIN SIDEBAR -->

	{template "left"}
		<!-- END SIDEBAR -->

		<!-- BEGIN PAGE -->

		<div class="page-content">

			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<div id="portlet-config" class="modal hide">

				<div class="modal-header">

					<button data-dismiss="modal" class="close" type="button"></button>

					<h3>portlet Settings</h3>

				</div>

				<div class="modal-body">

					<p>Here will be a configuration form</p>

				</div>

			</div>

			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<!-- BEGIN PAGE CONTAINER-->        

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">



						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">

							我的客户

						</h3>

						<ul class="breadcrumb">

						   <li> <i class="icon-home"></i> <a href="{$conf[log_out]}/controller/system/index.php">客户中心</a> <i class="icon-angle-right"></i> </li>
            <li> <a href="#">我的客户</a> <i class="icon-angle-right"></i> </li>
												</ul>

						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>

				</div>

				<!-- END PAGE HEADER-->

				<!-- BEGIN PAGE CONTENT-->
				
				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN EXAMPLE TABLE PORTLET-->

						<div class="portlet box blue">

							<div class="portlet-title">

								<div class="caption"><i class="icon-user"></i>客户管理</div>

								<div class="tools">

									<a href="javascript:;" class="collapse"></a>



								</div>

							</div>
							
							<div class="portlet-body">
                            	
                                <div class="clearfix">
                                <form id="myform" name="myform" action="{$conf['log_out']}/controller/system/my.php" method="post">
                                    <select class="span2 m-wrap" data-placeholder="Choose a Category" id="sel" name="hide" onchange="sel(this)" tabindex="1">
                                    
                                        <option value="status" {if $select == "status"}selected{/if}>---跟进状态---</option>
                                        <option value="" {if $select == ""}selected{/if}>全部</option>
                                    	{loop $status $k $val}
                                        <option value="{$k}" {if $select == $k && $select != "" && $select != "status"}selected{/if}>{$val}</option>
                                    	{/loop}
                                    
                                    </select>
                                  
                                   <div class="input-append date date-picker" data-date="2012-12-01" data-date-format="yyyy-mm-dd" data-date-viewmode="years">
                                    
                                        <input class="m-wrap m-ctrl-medium date-picker" readonly size="16" type="text" value="" /><span class="add-on"><i class="icon-calendar"></i></span>
                                    
                                    </div>     ~ <div class="input-append date date-picker" data-date="2012-12-01" data-date-format="yyyy-mm-dd" data-date-viewmode="years">
                                    
                                        <input class="m-wrap m-ctrl-medium date-picker" readonly size="16" type="text" value="" /><span class="add-on"><i class="icon-calendar"></i></span>
                                    
                                    </div>    
                                   <div class="btn-group"> <a href="#" class="btn green" onclick="sel()"><i class="icon-screenshot"></i> 确认筛选</a> </div>
                          
  </form>
                                </div>
                                
      
								<table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">

									<thead>

										<tr>
											
											<th>公司名称</th>

											<th>联系人</th>

											<th class="hidden-480">联系方式</th>

											<th class="hidden-480">公司介绍</th>
                                             <th class="hidden-480">跟进状态</th>
											<th class="hidden-480">操作</th>

										</tr>

									</thead>

									<tbody id="tbody">
										{loop $r $k $v}
										<tr id="tr">
											<td>{$v['cusname']}</td>

											<td>{$v['connecter']}</td>

											<td class="hidden-480">{$v['cphone']}</td>

											<td class="hidden-480">{$v['cusinfo']}</td>
                                             <td class="hidden-480">{$status[$v['ctype']]}</td>
											<td class="hidden-480"><a href="#" onclick="del(this)" title="{$v['cusid']}" class="btn mini red">放弃</a> <a href="{$conf['log_out']}/controller/system/cl_ghkh.php?file=add&action=xiugai&id={$v[cusid]}&page={$_GET['page']}" onclick="subform(mod)" class="btn mini blue">修改资料</a> <a href="{$conf['log_out']}/controller/system/cl_ghkh.php?file=add&action=jilu&id={$v[cusid]}&page={$_GET['page']}" onclick="subform(log)" class="btn mini yellow">跟进记录</a>
											</td>

										</tr>
										{/loop}
										
									</tbody>

								</table>
{template "page"}
							</div>

						</div>

						<!-- END EXAMPLE TABLE PORTLET-->


					</div>

				</div>

				<!-- END PAGE CONTENT-->

			</div>

			<!-- END PAGE CONTAINER-->

		</div>

		<!-- END PAGE -->
	</div>




<form id="submyform" name="submyform" action="{$conf['log_out']}/controller/system/cl_my.php?file=submyform" method="post">
<input type="hidden" name="hidden" id="hidden" value="" /></form>
	<!-- END CONTAINER -->

	<!-- BEGIN FOOTER -->
	<script type="text/javascript">
	
	function sel(obj){

			$("#myform").submit();
		}
	function subform(obj){
		$("#hidden").val(obj);
		$("#submyform").submit();
	}
	
	function del(obj){
		$.ajax({
			type:"POST",
			url:"{$conf[log_out]}/controller/system/cl_my.php?file=fangqi&page={$page}",
			data:{id:obj.title},
		    dataType: "json",
		    success:function(data){
		    	if(data == "nothing"){
					$("#tbody").empty();
				    $("#tbody").append("<tr class='odd gradeX'><td colspan='6' text-align='center'>已经没有任何内容了</td></tr>");
				}else{
				var len=data.length;
				var html="";
				for(var i=0;i<len;i++){
					html+="<tr id='tr'><td>"+data[i].cusname+"</td><td>"+data[i].connecter+"</td><td>"+data[i].cphone+"</td><td>"+data[i].cusinfo+"</td><td>"+data[i].ctype+"</td><td class='hidden-480'><a href='#' onclick='del(this)' title="+data[i].cusid+" class='btn mini red'>放弃</a> <a href='{$conf['log_out']}/controller/system/cl_ghkh.php?file=add&action=xiugai&id="+data[i].cusid+"' onclick='subform(mod)' class='btn mini blue'>修改资料</a> <a href='{$conf['log_out']}/controller/system/cl_ghkh.php?file=add&action=jilu&id="+data[i].cusid+"' onclick='subform(log)' class='btn mini yellow'>跟进记录</a></td></tr>" ;
				}
				$("#tbody").empty();
				$("#tbody").append(html);
				}
		    }
		})
	}
	</script>
	{template "footer"}