{template "header"}

	<!-- END HEADER -->

	<!-- BEGIN CONTAINER -->

	<div class="page-container row-fluid">

		<!-- BEGIN SIDEBAR -->

		{template "left"}

		<!-- END SIDEBAR -->

		<!-- BEGIN PAGE -->

		<div class="page-content">

			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<div id="portlet-config" class="modal hide">

				<div class="modal-header">

					<button data-dismiss="modal" class="close" type="button"></button>

					<h3>portlet Settings</h3>

				</div>

				<div class="modal-body">

					<p>Here will be a configuration form</p>

				</div>

			</div>

			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<!-- BEGIN PAGE CONTAINER-->        
			
			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">


						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">

							客户中心

						</h3>

						<ul class="breadcrumb">

							<li> <i class="icon-home"></i> <a href="{$conf[log_out]}/controller/system/index.php">客户中心</a> <i class="icon-angle-right"></i> </li>
            <li> <a href="#">公海客户</a> <i class="icon-angle-right"></i> </li>
						</ul>

						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>

				</div>

				<!-- END PAGE HEADER-->

				<!-- BEGIN PAGE CONTENT-->

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN EXAMPLE TABLE PORTLET-->

						<div class="portlet box blue">

							<div class="portlet-title">

								<div class="caption"><i class="icon-group"></i>公海客户</div>

								<div class="tools">

									<a href="javascript:;" class="collapse"></a>

									<a href="#" onclick="refresh()" class="reload"></a>

								</div>

							</div>

							<div class="portlet-body">

								<div class="clearfix">

									<div class="btn-group"><a href="{$conf['log_out']}/controller/system/cl_ghkh.php?file=add" class="btn blue"><i class="icon-plus"></i> 添加新客户</a> </div>
                                    <div class="btn-group"> <a href="#" onclick="mul('huoqu')" class="btn green"><i class="icon-share"></i> 获取选中客户</a> </div>
									<div class="btn-group"> <a href="#" onclick="mul('del')" class="btn red"><i class="icon-trash"></i> 删除选中项</a> </div>
									

								</div>
								<form action="" method="post" id="myform" name="myform">
								<input type="hidden" value="" name="hidden" id="hide">
								<table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
	
									<thead>

										<tr>

											<th width="20" style="width:8px;"><input type="checkbox" onclick="checkall(this)" class="group-checkable" data-set="#sample_1 .checkboxes" /></th>
											<th>公司名称</th>

											<th>联系人</th>

											<th class="hidden-480">联系方式</th>

										
											
											<th class="hidden-480">添加时间</th>
											<th class="hidden-480">操作</th>
										
										</tr>

									</thead>

									<tbody id="tbody">
									
										
										{loop $r $k $v}
										
										<tr>
											
											<td><input type="checkbox" class="checkboxes"  name="checkbox1[]" value="{$v['cusid']}" /></td>
											
											<td class="hidden-480">{$v['cusname']}</td>

											<td class="hidden-480">{$v['connecter']}</td>

											<td class="hidden-480">{$v['cphone']}</td>
											<td class="hidden-480">{date("Y-m-d H:i",$v['inputtime'])}</td>
											<td class="hidden-480">
											<a class="btn mini green" onclick="huoqu(this)" title="{$v['cusid']}" href="#">获取</a>
											<a class="btn mini blue" href="{$conf['log_out']}/controller/system/cl_ghkh.php?file=ghkh_info&cusid={$v['cusid']}&page={$_GET['page']}">查看详细</a>
											</td>
										
										</tr>
										{/loop}
										

									</tbody>

								</table>
								</form>
							{template "page"}			
							</div>

						</div>

						<!-- END EXAMPLE TABLE PORTLET-->

					</div>

				</div>

				<!-- END PAGE CONTENT-->

			</div>

			<!-- END PAGE CONTAINER-->

		</div>

		<!-- END PAGE -->

	</div>

	<!-- END CONTAINER -->

	<!-- BEGIN FOOTER -->
	<script type="text/javascript">
	function checkall(obj){
		var objcheck=obj.checked;
		var chec=document.getElementsByName("checkbox1[]");
		var len=chec.length;
		for(var i=0;i<len;i++){
			
			if(objcheck == true){
				$(chec[i]).attr("checked","checked");
				$(chec[i]).parent().addClass("checked");  
			}else{
				$(chec[i]).removeAttr("checked");
				$(chec[i]).parent().removeClass("checked");  
			}
		}
	}
	
	function mul(obj){
		var hide=obj;
		var lens=$(":checked").length;
		var checkbox=$(":checked");
		var id = new Array();
		for(var j=0;j<lens;j++){
		if(checkbox[j].value != "on"){
		   id[j]=checkbox[j].value;
			}
		}
		if(id == ""){
			alert("请选择你要操作的客户");
		}else{
			$.ajax({
				type:"POST",
				url:"{$conf['log_out']}/controller/system/cl_ghkh.php?file=myform&page={$page}",
				data:{hidden:hide,id:id},
				dataType:"json",
				success:function(data){
					if(data == "nothing"){
						$("#tbody").empty();
					    $("#tbody").append("<tr class='odd gradeX'><td colspan='6' text-align='center'>已经没有任何内容了</td></tr>");
					}else{
						 var html="";
						 var len=data.length;
						 for(var i=0;i<len;i++){
							 html+="<tr><td><input type='checkbox' class='checkboxes' name='checkbox1[]' value='"+data[i].cusid+"' /></td><td class='hidden-480'>"+data[i].cusname+"</td><td class='hidden-480'>"+data[i].connecter+"</td><td class='hidden-480'>"+data[i].cphone+"</td><td class='hidden-480'>"+data[i].inputtime+"</td><td class='hidden-480'><a class='btn mini green' onclick='huoqu(this)' title="+data[i].cusid+" href='#'>获取</a><a class='btn mini blue' href='{$conf['log_out']}/controller/system/cl_ghkh.php?file=ghkh_info&cusid="+data[i].cusid+"'>查看详细</a></td></tr>";
							 
						 }
						 $('#tbody').empty();
						 $('#tbody').append(html);
					}
				}
			})
		}
	}
	
	function refresh(){
		$.get("{$conf['log_out']}/controller/system/cl_ghkh.php?file=refresh&page={$page}",function(data){
			var len=data.length;
			var html="";
			for(var i=0;i<len;i++){
				html+="<tr><td><input type='checkbox' class='checkboxes' name='checkbox1[]' value='"+data[i].cusid+"' /></td><td class='hidden-480'>"+data[i].cusname+"</td><td class='hidden-480'>"+data[i].connecter+"</td><td class='hidden-480'>"+data[i].cphone+"</td><td class='hidden-480'>"+data[i].inputtime+"</td><td class='hidden-480'><a class='btn mini green' onclick='huoqu(this)' title="+data[i].cusid+" href='#'>获取</a><a class='btn mini blue' href='{$conf['log_out']}/controller/system/cl_ghkh.php?file=ghkh_info&cusid="+data[i].cusid+"'>查看详细</a></td></tr>";
			}		 
			$('#tbody').empty();
			$('#tbody').append(html);
		},'json')
	}
	
	function huoqu(obj){
		$.ajax({
			type:"POST",
			url:"{$conf['log_out']}/controller/system/cl_ghkh.php?file=hqkh&page={$page}",
			data:{id:obj.title},
			dataType:"json",
			success:function(data){
				if(data == "nothing"){
					$("#tbody").empty();
				    $("#tbody").append("<tr class='odd gradeX'><td colspan='6' text-align='center'>已经没有任何内容了</td></tr>");
				}else{
					var len=data.length;
					var html="";
					for(var i=0;i<len;i++){
						html+="<tr><td><input type='checkbox' class='checkboxes' name='checkbox1[]' value='"+data[i].cusid+"' /></td><td class='hidden-480'>"+data[i].cusname+"</td><td class='hidden-480'>"+data[i].connecter+"</td><td class='hidden-480'>"+data[i].cphone+"</td><td class='hidden-480'>"+data[i].inputtime+"</td><td class='hidden-480'><a class='btn mini green' onclick='huoqu(this)' title="+data[i].cusid+" href='#'>获取</a><a class='btn mini blue' href='{$conf['log_out']}/controller/system/cl_ghkh.php?file=ghkh_info&cusid="+data[i].cusid+"'>查看详细</a></td></tr>";
					}
					$('#tbody').empty();
					$('#tbody').append(html);
				}
			}
		})
	}
	</script>

{template "footer"}