{template "header"}
	<!-- END HEADER -->

	<!-- BEGIN CONTAINER -->

	<div class="page-container row-fluid">

		<!-- BEGIN SIDEBAR -->

		{template "left"}

		<!-- END SIDEBAR -->

		<!-- BEGIN PAGE -->

		<div class="page-content">

			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<div id="portlet-config" class="modal hide">

				<div class="modal-header">

					<button data-dismiss="modal" class="close" type="button"></button>

					<h3>portlet Settings</h3>

				</div>

				<div class="modal-body">

					<p>Here will be a configuration form</p>

				</div>

			</div>

			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN STYLE CUSTOMIZER -->

					

						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">

							客户信息

						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="{$conf[log_out]}/controller/system/index.php">客户中心</a> 

								<i class="icon-angle-right"></i>

							</li>

							<li>

								<a href="{$conf['log_out']}/controller/system/ghkh.php?page={$_GET['page']}">公海客户</a>

								<i class="icon-angle-right"></i>

							</li>

							<li><a href="">客户信息</a></li>

						</ul>

						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>

				</div>

				<!-- END PAGE HEADER-->

				<!-- BEGIN PAGE CONTENT-->

				<div class="row-fluid">
				
					<div class="span12">


						<!-- BEGIN DESCRIPTION LISTS PORTLET-->

						<div class="portlet box blue">

							<div class="portlet-title">

								<div class="caption"><i class="icon-reorder"></i>详细资料</div>

								<div class="tools">

									<a href="javascript:;" class="collapse"></a>

								</div>

							</div>

							<div class="portlet-body">

								<dl >

									<dt>公司名称</dt>

									<dd>{$r['cusname']}</dd>

									<dt>联系人</dt>

									<dd>{$r['connecter']}</dd>
                                    
									<dt>联系方式</dt>

									<dd>{$r['cphone']}</dd>
                                    
                                    <dt>公司介绍</dt>

									<dd>{$r['cusinfo']}</dd>
                                    
                                    

								</dl>
	 <div class="btn-group"> <a href="{$conf['log_out']}/controller/system/cl_ghkh.php?file=hqkh&cusid={$r['cusid']}" class="btn green"><i class="icon-share"></i> 获取客户</a> </div>
									  
							</div>
							
					  </div>

						<!-- END DESCRIPTION LISTS PORTLET-->

				  	</div>
                    

				</div>

				<!-- END PAGE CONTENT-->

			</div>

			<!-- END PAGE CONTAINER-->       

		</div>

		<!-- BEGIN PAGE -->     

	</div>

	<!-- END CONTAINER -->

	<!-- BEGIN FOOTER -->

{template "footer"}