{template "header"}

	<!-- END HEADER -->

	<!-- BEGIN CONTAINER -->

	<div class="page-container row-fluid">

		<!-- BEGIN SIDEBAR -->

		{template "left"}
		<!-- END SIDEBAR -->

		<!-- BEGIN PAGE -->

		<div class="page-content">

			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<div id="portlet-config" class="modal hide">

				<div class="modal-header">

					<button data-dismiss="modal" class="close" type="button"></button>

					<h3>portlet Settings</h3>

				</div>

				<div class="modal-body">

					<p>Here will be a configuration form</p>

				</div>

			</div>

			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<!-- BEGIN PAGE CONTAINER-->        

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN STYLE CUSTOMIZER -->

						<div class="color-panel hidden-phone">

							<div class="color-mode-icons icon-color"></div>

							<div class="color-mode-icons icon-color-close"></div>

							<div class="color-mode">

								 <label>

									<span>Layout</span>

									<select class="layout-option m-wrap small">

										<option value="fluid" selected>Fluid</option>

										<option value="boxed">Boxed</option>

									</select>

								</label>

								<label>

									<span>Header</span>

									<select class="header-option m-wrap small">

										<option value="fixed" selected>Fixed</option>

										<option value="default">Default</option>

									</select>

								</label>

								<label>

									<span>Sidebar</span>

									<select class="sidebar-option m-wrap small">

										<option value="fixed">Fixed</option>

										<option value="default" selected>Default</option>

									</select>

								</label>

								<label>

									<span>Footer</span>

									<select class="footer-option m-wrap small">

										<option value="fixed">Fixed</option>

										<option value="default" selected>Default</option>

									</select>

								</label>

							</div>

						</div>

						<!-- END BEGIN STYLE CUSTOMIZER -->  

						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">

							客户中心

						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="{$conf['log_out']}/controller/system/ghkh.php">客户中心</a> 

								<i class="icon-angle-right"></i>

							</li>

							<li>

								<a href="#">客户信息</a>

								

							</li>

						

						</ul>

						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>

				</div>

				<!-- END PAGE HEADER-->

				<!-- BEGIN PAGE CONTENT-->

				<div class="row-fluid">
                            
                                <div class="span12">
                            
                                    <!-- BEGIN SAMPLE FORM PORTLET-->   
                            
                                    <div class="portlet box blue">
                            
                                        <div class="portlet-title">
                            
                                            <div class="caption"><i class="icon-plus"></i>客户信息</div>
                            
                                            <div class="tools">
                            
                                                <a href="javascript:;" class="collapse"></a>
                            
                                                <a href="javascript:;" class="reload"></a>
                                            </div>
                            
                                        </div>
                            
                                        <div class="portlet-body form">
                            
                                            <!-- BEGIN FORM-->
                            
                                            <form action="{$conf['log_out']}/controller/system/cl_ghkh.php?file=addcus&action={$action}&id={$val['cusid']}" method="post" class="form-horizontal" onsubmit="return checkalls()">
                                            	
                            			
                                                <div class="control-group">
                            
                                                    <label class="control-label">公司名称</a></label>
                            
                                                    <div class="controls">
                            
                                                        <input type="text" class="span6 m-wrap" name="info[cusname]" id="username" value="{$val['cusname']}" />
                            
                                                        <span class="help-inline">不得输入殊符号</span>
                            
                                                    </div>
                            
                                                </div>
                 
                                                <div class="control-group">
                            
                                                    <label class="control-label">用户名</label>
                            
                                                    <div class="controls">
                            
                                                      <input class="span6 m-wrap" type="text" placeholder="{$_SESSION['username']}" disabled />
                            
                                                        <span class="help-inline">公司分配不可修改</span>
                            
                                                    </div>
                            
                                                </div>
                                                
                                                <div class="control-group">

                            
                                                    <label class="control-label">联系人</label>
                            
                                                    <div class="controls">
                            
                                                        <input type="text" class="span6 m-wrap" name="info[connecter]" value="{$val['connecter']}" />
                            
                            
                                                    </div>
                            
                                                </div>
                            
                                                <div class="control-group">
                            
                                                    <label class="control-label">联系方式</label>
                            
                                                    <div class="controls">
                            
                                                        <input type="text" class="span6 m-wrap" name="info[cphone]" id="phone" value="{$val['cphone']}" onblur="checktel()" />
                            							     <span class="help-inline" id="mesphone"></span>
                                                    </div>
                            
                                                </div>                                  
                                    		
                                              <div class="control-group">
                            
                                                <label class="control-label">公司介绍</label>
                            
                                                    <div class="controls">
                            
                                                        <textarea class="span6 m-wrap" rows="3" name="info[cusinfo]" value="{$val['cusinfo']"></textarea>
                            
                                                    </div>
                            
                                              </div>
                                               <div class="control-group">
                            
                                                <label class="control-label">初谈情况</label>
                            
                                                    <div class="controls">
                            
                                                        <textarea class="span6 m-wrap" rows="3" name="info[conditions]" value="{$val['conditions']}"></textarea>
                            
                                                    </div>
                            
                                              </div>
                         <div class="control-group">

										<label class="control-label">跟进状态</label>

										<div class="controls">

											<select class="span6 m-wrap" data-placeholder="Choose a Category" name="info[ctype]" tabindex="1">

												<option value="">---跟进状态---</option>
												{loop $status $k $val}
                                       				 <option value="{$k}" {if $val['ctype'] == $k}selected{/if}>{$val}</option>
                                    			{/loop}

											</select>

										</div>

									</div>
									{if $action == 'jilu' }
										<div class="control-group" id="jilu">
                            
                                                <label class="control-label">通话记录</label>
                                                    <div class="controls">
                                                    {loop $call $keys $value}
													<label >{date('Y-m-d H:i:s',$keys)}：{$value}</label>
													{/loop}
                                                       <input type="text" class="span6 m-wrap" name="callinfo" value="" />
                                                    </div>
                            
                                              </div>
                                          {/if}
                                                <div class="form-actions">
                            
                                                    <button type="submit" class="btn blue">确认</button>
                            
                                                    <button type="button" class="btn" onClick="window.location.reload('{$conf['log_out']}/controller/system/index.php?menuid=5');" >取消</button>                            
                            
                                                </div>
                            				
                                            </form>
                            
                                            <!-- END FORM-->       
                            
                                        </div>
                                        
                                	</div>
                                    
        							<!-- END SAMPLE FORM PORTLET-->
                                </div>
                            
                            </div>

				<!-- END PAGE CONTENT-->

			</div>

			<!-- END PAGE CONTAINER-->

		</div>

		<!-- END PAGE -->

	</div>
	<!-- END CONTAINER -->

	<!-- BEGIN FOOTER -->
<script type="text/javascript" src="{$conf['js']}/register.js">

</script>
<script type="text/javascript">
function checkalls()  //检查所有
{
	alert(54);
    if(checkname()&&checkuserpassword()&&checkpwdagin()&&checktelephone()&&checkemail())
    {
        return true;
    }
    return false;
}
 
</script>

{template "footer"}